<h3>Best Practices</h3>
<ul>
  <li><a href="https://angular.dev/style-guide" target="_blank" rel="noopener">Style Guide</a></li>
  <li><a href="https://angular.dev/best-practices/security" target="_blank" rel="noopener">Security</a></li>
  <li><a href="https://angular.dev/best-practices/a11y" target="_blank" rel="noopener">Accessibility</a></li>
  <li><a href="https://angular.dev/best-practices/runtime-performance" target="_blank" rel="noopener">Performance</a></li>
  <li><a href="https://angular.dev/update" target="_blank" rel="noopener">Keeping up-to-date</a></li>
</ul>


