<div class="about-container">
  <aside class="sidenav">
    <h3>Angular Concepts</h3>
    <ul>
      <li>
        <a routerLink="angular-concepts" routerLinkActive="active">Scaffolding</a>
        <ul class="nested-links">
            <li>Nested 1</li>
            <li>Nested 2</li>
          </ul>
      </li>
      <li>Foo</li>
      <li>Bar</li>
    </ul>
    <h3>App Views</h3>
    <ul>
      <li>
        <a routerLink="app-views" routerLinkActive="active">Pivot Dashboard</a>
        <ul class="nested-links">
          <li>Nested 1</li>
          <li>Nested 2</li>
        </ul>
      </li>
      <li>Foo</li>
      <li>Bar</li>
    </ul>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
