<div class="resources-container">
  <aside class="sidenav">
    <h3>Angular Resources</h3>
    <ul>
      <li>
        <a routerLink="official-docs" routerLinkActive="active">Official Docs</a>
      <!--  <ul>
          <li>Nest 1</li>
          <li>Nested 2</li>
        </ul>-->
      </li>
      <li><a routerLink="social-media" routerLinkActive="active">Social Media</a></li>
      <li><a routerLink="developer-tools" routerLinkActive="active">Developer Tools</a></li>
      <li><a routerLink="best-practices" routerLinkActive="active">Best Practices</a></li>
    </ul>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
